
.slot1{ background:#1E88E5; } /*celeste*/
.slot2{ background: #4CAF50; } /*verde*/
.slot3{ background: #F4511E; } /* rossarancione */
.slot4{ background: #C2185B; } /* rosa */
.slot5{ background: #FDD835; } /*giallo */
.slot6{ background: #8E24AA; } /* viola */
.slot7{ background: #c62828;} /*arancione*/  